name: Deploy AKS Cluster with Terraform and Storage Check

on:
  push:
    branches:
      # - my-artificial-client-03

env:
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  #azure_credentials: ${{ secrets.JSON_CREDENTIALS_AZURE_ITSAJ_AUT }}
  
  # Parametry Storage Account dla Terraform State
  TF_STORAGE_ACCOUNT_NAME: "itsajtfstatestorage"
  TF_CONTAINER_NAME: "tfstate"
  TF_PLAN_CONTAINER_NAME: "tfplan"
  TF_STATE_KEY: "terraform.tfstate"
  TF_STATE_RESOURCE_GROUP: "terraform-state-rg"
  TF_STATE_REGION: "westeurope"

  # na rzecz deploymentu TF
  $AKS_RESOURCE_GROUP: "my-resource-group"
  $AKS_CLUSTER_NAME: "my-aks-cluster"

jobs:
  deploy-k8s-manifest:
    name: Deploy Kubernetes Manifest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Sprawdzenie katalogu - czy action istnieje ?
        run: pwd && ls -al
    
      - name: Deploy using composite action
        uses: ./.github/actions/
        with:
          aks_cluster_name: "my-aks-cluster"
          aks_resource_group: "my-resource-group"
          azure_credentials_json: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}
          
