name: Deploy AKS Cluster with Terraform and Storage Check

on:
  push:
    branches:
      - my-artificial-client-02

env:
  ARM_CLIENT_ID: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}
  ARM_CLIENT_SECRET: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}
  ARM_TENANT_ID: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}
  TF_VAR_azure_credentials: ${{ secrets.JSON_CREDENTIALS_AZURE_ITSAJ_AUT }}

  # Parametry Storage Account dla Terraform State
  TF_STORAGE_ACCOUNT_NAME: "itsajtfstatestorage"
  TF_CONTAINER_NAME: "tfstate"
  TF_PLAN_CONTAINER_NAME: "tfplan"
  TF_STATE_KEY: "terraform.tfstate"
  TF_STATE_RESOURCE_GROUP: "terraform-state-rg"
  TF_STATE_REGION: "westeurope"

jobs:
  prepare-storage:
    name: Prepare Azure Storage
    runs-on: ubuntu-latest

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}

      - name: Sprawdzenie istnienia Resource Group
        run: |
          if ! az group show --name $TF_STATE_RESOURCE_GROUP &>/dev/null; then
            echo "Resource Group nie istnieje. Tworzę RG: $TF_STATE_RESOURCE_GROUP"
            az group create --name $TF_STATE_RESOURCE_GROUP --location $TF_STATE_REGION
          else
            echo "Resource Group już istnieje."
          fi

      - name: Sprawdzenie istnienia Storage Account
        run: |
          if ! az storage account show --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP &>/dev/null; then
            echo "Storage Account nie istnieje. Tworzę Storage Account: $TF_STORAGE_ACCOUNT_NAME"
            az storage account create \
              --name $TF_STORAGE_ACCOUNT_NAME \
              --resource-group $TF_STATE_RESOURCE_GROUP \
              --location $TF_STATE_REGION \
              --sku Standard_LRS
          else
            echo "Storage Account już istnieje."
          fi


      - name: Sprawdzenie istnienia Blob Container dla PLAN
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          if ! az storage container show --name "$TF_PLAN_CONTAINER_NAME" &>/dev/null; then
            echo "Blob Container nie istnieje. Tworzę Blob Container: $TF_PLAN_CONTAINER_NAME"
            az storage container create --name "$TF_PLAN_CONTAINER_NAME"
          else
            echo "Blob Container już istnieje."
          fi

      - name: Sprawdzenie istnienia Blob Container dla STAN
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          if ! az storage container show --name "$TF_CONTAINER_NAME" &>/dev/null; then
            echo "Blob Container nie istnieje. Tworzę Blob Container: $TF_CONTAINER_NAME"
            az storage container create --name "$TF_CONTAINER_NAME"
          else
            echo "Blob Container już istnieje."
          fi

      - name: Save Storage Info
        run: echo "TF_STORAGE_ACCOUNT_NAME=${TF_STORAGE_ACCOUNT_NAME}" >> $GITHUB_ENV

  terraform-deploy:
    name: Terraform Apply without state
    runs-on: ubuntu-latest
    needs: prepare-storage  # Job wykonuje się dopiero po zakończeniu 'prepare-stor

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}

      # - name: Ustawienie backendu Terraform (Azure Blob Storage)
      #   run: |
      #     cat > backend.tf <<-EOF
      #     terraform {
      #       backend "azurerm" {
      #         resource_group_name   = "$TF_STATE_RESOURCE_GROUP"
      #         storage_account_name  = "$TF_STORAGE_ACCOUNT_NAME"
      #         container_name        = "$TF_CONTAINER_NAME"
      #         key                   = "$TF_STATE_KEY"
      #       }
      #     }
      #     EOF
      #   shell: bash

      - name: Check if state file exists
        id: check_state
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string \
            --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          EXISTS=$(az storage blob exists --container-name "$TF_CONTAINER_NAME" --name "$TF_STATE_KEY" \
            --connection-string "$AZURE_STORAGE_CONNECTION_STRING" --query exists -o tsv)
          echo "exists=$EXISTS" >> $GITHUB_OUTPUT
      
      - name: Sprawdzenie katalogu
        run: pwd && ls -al

      - name: Initialize Terraform
        run: terraform init -reconfigure

      - name: Terraform Plan 
        # run: terraform plan -var-file="terraform.tfvars"
        run: terraform plan -out=plan.tfplan -var-file="terraform.tfvars"      #  (Save to File) tfvars usd to plan

      - name: Upload Plan to Azure Blob Storage
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          az storage blob upload \
            --container-name "$TF_PLAN_CONTAINER_NAME" \
            --file "plan.tfplan" \
            --name "plan-$(date +%Y%m%d-%H%M%S).tfplan" \
            --overwrite

      - name: Terraform Apply
        # run: terraform  apply -auto-approve -var-file="terraform.tfvars"
        run: terraform apply -auto-approve "plan.tfplan"   # (with saved plan)

      - name: Sprawdzenie katalogu czy statefile istnieje
        run: pwd && ls -al

      - name: Upload State to Azure Blob Storage
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          az storage blob upload \
            --container-name "$TF_CONTAINER_NAME" \
            --file "$TF_STATE_KEY" \
            --name "$TF_STATE_KEY-$(date +%Y%m%d-%H%M%S)" \
            --overwrite
          az storage blob upload \
            --container-name "$TF_CONTAINER_NAME" \
            --file "$TF_STATE_KEY" \
            --name "$TF_STATE_KEY" \
            --overwrite

  # terraform-deploy-state:
  #   name: Terraform Apply
  #   runs-on: ubuntu-latest
  #   needs: terraform-deploy # prepare-storage  # Job wykonuje się dopiero po zakończeniu 'prepare-storage'
    

  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v3
      
  #     - name: Set up Terraform
  #       uses: hashicorp/setup-terraform@v2
  #       with:
  #         terraform_version: 1.4.6

  #     - name: Login to Azure
  #       uses: azure/login@v1
  #       with:
  #         creds: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}

  #     - name: Ustawienie backendu Terraform (Azure Blob Storage)
  #       run: |
  #         cat > backend.tf <<-EOF
  #         terraform {
  #           backend "azurerm" {
  #             resource_group_name   = "$TF_STATE_RESOURCE_GROUP"
  #             storage_account_name  = "$TF_STORAGE_ACCOUNT_NAME"
  #             container_name        = "$TF_CONTAINER_NAME"
  #             key                   = "$TF_STATE_KEY"
  #           }
  #         }
  #         EOF
  #       shell: bash
        
  #     - name: Sprawdzenie katalogu
  #       run: cat backend.tf

  #     - name: Sprawdzenie katalogu
  #       run: pwd && ls -al

  #     - name: Check if state file exists
  #       id: check_state
  #       run: |
  #         export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string \
  #           --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
  #         EXISTS=$(az storage blob exists --container-name "$TF_CONTAINER_NAME" --name "$TF_STATE_KEY" \
  #           --connection-string "$AZURE_STORAGE_CONNECTION_STRING" --query exists -o tsv)
  #         echo "exists=$EXISTS" >> $GITHUB_OUTPUT
      
  #     - name: Initialize Terraform with Backend
  #       run: |
  #         if [ "${{ steps.check_state.outputs.exists }}" = "true" ]; then
  #           echo "State file exists. Running 'terraform init -reconfigure'."
  #           terraform init -reconfigure
  #         else
  #           echo "State file does not exist. Running 'terraform init'."
  #           terraform init
  #         fi


  #     - name: Terraform Plan (Save to File)
  #       run: terraform plan -out=plan.tfplan -var-file="terraform.tfvars"

  #     - name: Upload Plan to Azure Blob Storage
  #       run: |
  #         export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
  #         az storage blob upload \
  #           --container-name "$TF_PLAN_CONTAINER_NAME" \
  #           --file "plan.tfplan" \
  #           --name "plan-$(date +%Y%m%d-%H%M%S).tfplan" \
  #           --overwrite

  #     - name: Terraform Apply (with saved plan)
  #       run: terraform apply -auto-approve "plan.tfplan"
