name: KUBECTL AKS DEPLOY 12-2025

on:
  workflow_dispatch:
  push:
    branches:
      - my-aks-play-12-2025
    paths:
      - 'k8s/**' 


env:
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  #azure_credentials: ${{ secrets.JSON_CREDENTIALS_AZURE_ITSAJ_AUT }}


jobs:

  deploy-smoke-test:
    name: AKS Smoke Test
    runs-on: ubuntu-latest
    # needs: terraform-deploy 
    steps:
      - uses: actions/checkout@v3
      
      - name: Install kubelogin
        run: |
          curl -LO https://github.com/Azure/kubelogin/releases/latest/download/kubelogin-linux-amd64.zip
          unzip kubelogin-linux-amd64.zip
          sudo mv kubelogin /usr/local/bin/kubelogin
          kubelogin --version

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}

      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group rg-aks-dev-sc-02 \
            --name aks-dev-sc-02 \
            --overwrite-existing

      - name: Convert kubeconfig for SP login
        run: |
          kubelogin convert-kubeconfig -l azurecli

      - name: Sprawdzenie katalogu - czy action istnieje ?
        run: pwd && ls -al && cd k8s && ls -al
  
      - name: Deploy smoke pod
        run: kubectl apply -f k8s/smoke-pod.yml
  
      - name: Wait for pod to be Ready
        run: |
          kubectl wait pod smoke-test \
            --for=condition=Ready \
            --timeout=60s
  
      - name: Cleanup smoke pod
        run: kubectl delete pod smoke-test
  
