name: TF check & deploy to Azure

on:
  push:
    branches:
      # - prod
       - my-artificial-client-03
env:
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  TF_STORAGE_ACCOUNT_NAME: "itsajtfstatestorage"
  TF_CONTAINER_NAME: "tfstate"
  TF_PLAN_CONTAINER_NAME: "tfplan"
  TF_STATE_KEY: "terraform.tfstate"
  TF_STATE_RESOURCE_GROUP: "terraform-state-rg"
  TF_STATE_REGION: "westeurope"
  AKS_RESOURCE_GROUP: "my-resource-group"
  AKS_CLUSTER_NAME: "my-aks-cluster"

jobs:
  terraform-check:
    name: Terraform Checks & Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6
      
      - name: Sprawdzenie formatowania Terraform (terraform fmt)
        run: terraform fmt -check

      - name: Walidacja konfiguracji Terraform (terraform validate)
        run: terraform validate

      - name: Instalacja TFLint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --init
      
      - name: Analiza statyczna z TFLint
        run: tflint

      - name: Instalacja tfsec
        run: |
          curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install-linux.sh | bash

      - name: Skanowanie bezpieczeństwa z tfsec
        run: tfsec .

      - name: Skanowanie bezpieczeństwa z Checkov
        uses: bridgecrewio/checkov-action@v6
        with:
          directory: .

  terraform-deploy:
    name: Terraform Apply without state
    runs-on: ubuntu-latest
    needs: terraform-check

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}

      - name: Check if state file exists
        id: check_state
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string \
            --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          EXISTS=$(az storage blob exists --container-name "$TF_CONTAINER_NAME" --name "$TF_STATE_KEY" \
            --connection-string "$AZURE_STORAGE_CONNECTION_STRING" --query exists -o tsv)
          echo "exists=$EXISTS" >> $GITHUB_OUTPUT
      
      - name: Sprawdzenie katalogu
        run: pwd && ls -al

      - name: Initialize Terraform
        run: terraform init

      - name: Terraform Plan 
        run: terraform plan -out=plan.tfplan -var="azure_credentials=${{ secrets.CREDENTIALS_AZURE_ITSAJ_AUT }}" -var-file="terraform.tfvars"

      - name: Sprawdzenie czy plan się utworzył
        run: |
          pwd && ls -al
          cat plan.tfplan
        
      - name: Upload Plan to Azure Blob Storage
        run: |
          export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --name $TF_STORAGE_ACCOUNT_NAME --resource-group $TF_STATE_RESOURCE_GROUP -o tsv)
          az storage blob upload \
            --container-name "$TF_PLAN_CONTAINER_NAME" \
            --file "plan.tfplan" \
            --name "plan-$(date +%Y%m%d-%H%M%S).tfplan" \
            --overwrite

      - name: Terraform Apply
        run: terraform apply -auto-approve "plan.tfplan"
        
      - name: Sprawdzenie katalogu czy statefile istnieje
        run: pwd && ls -al

