name: TF testing
on:
  push:
    branches:
       - my-artificial-client-03
    # Uncommento to stop triggers on changes of the workflow
    # comment to trigger on "TF testing" script development
    paths:
      - 'TF/**'     

jobs:
  tf_scan:
    runs-on: ubuntu-latest
    
    steps:
      - name: Download code from current repo branch (checkout)
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6
        
      # CODE COMPOSITION CHECK   
      - name: Terraform formating check (terraform fmt)
        run: terraform fmt -check

      - name: TF code validation (terraform validate)
        run: terraform validate
           
      - name: TFLint installation
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --init
      - name: SCA with TFLint
        run: tflint

      # SECURITY CHECK

      - name: tfsec setup #& scannning
        run: |
            go install github.com/aquasecurity/tfsec/cmd/tfsec@latest
            echo "$HOME/go/bin" >> $GITHUB_PATH
      - name: tfsec scannning
        run:
            tfsec .
        
      - name: Checkov setup & scanning
        run: |
          pip install -U checkov
          checkov -d ./TF




