name: TF testing
on:
  push:
    branches:
      # - prod
       - my-artificial-client-03
    # Uncommento to stop triggers on changes of the workflow
    paths:
      - 'TF/**'     

jobs:
  tf_scan:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6
        
      # SECURITY CHECK
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11' # Użyj starszej wersji Pythona, kompatybilnej z Checkov 2.0.0
        
      - name: Install Checkov
        run: pip install -U checkov
        
      - name: Run Checkov scan TF
        run: checkov -d ./TF
        
          
         CODE COMPOSITION CHECK   
      - name: Sprawdzenie formatowania Terraform (terraform fmt)
        run: terraform fmt -check

      - name: Walidacja konfiguracji Terraform (terraform validate)
        run: terraform validate

      - name: Instalacja TFLint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --init
      
      - name: Analiza statyczna z TFLint
        run: tflint

      - name: Instalacja tfsec
        run: |
            go install github.com/aquasecurity/tfsec/cmd/tfsec@latest
            echo "$HOME/go/bin" >> $GITHUB_PATH
        # out of date:
        # curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install-linux.sh | bash 

      - name: Skanowanie bezpieczeństwa z tfsec
        run: tfsec .


